{% extends 'base.html' %}
{% block content %}

    <div class="d-flex justify-content-center mt-3 p-sm-2 col-xs-12 col-sm-10">
        <div class="col-sm-8 col-xs-12">
            <h2 class="mb-2">Cadastrar Veículo</h2>

            <form method="POST">
                {{ form.csrf_token }}

                <div class="form-group">
                    <label for="id_cliente">Cliente proprietário</label>
                    {{ form.id_cliente(id="id_cliente", class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="login">Placa</label>
                    {{ form.placa(id="placa", class="form-control", placeholder="Digite a placa do veículo") }}
                </div>

                <div class="form-group">
                    <label for="marca">Marca do Veículo</label>
                    {{ form.marca(id="marca", class="form-control", placeholder="Digite o marca do veículo") }}
                </div>
                
                <div class="form-group">
                    <label for="modelo">Modelo do Veículo</label>
                    {{ form.modelo(id="modelo", class="form-control", placeholder="Digite o modelo do veículo") }}
                </div>

                <div class="form-group">
                    <label for="cor">Cor do Veículo</label>
                    {{ form.cor(id="cor", class="form-control", placeholder="Digite a cor do veículo") }}
                </div>

                <div class="form-group">
                    <label for="anoFabricacao">Ano de fabricação do veículo</label>
                    {{ form.anoFabricacao(id="anoFabricacao", class="form-control", placeholder="Digite o ano de fabricação") }}
                </div>

                <div class="form-group">
                    <label for="anoModelo">Ano de do modelo do veículo</label>
                    {{ form.anoModelo(id="anoModelo", class="form-control", placeholder="Digite o ano do modelo") }}
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-4" type="submit">Salvar</button>
                    <a class="btn btn-danger" href="/lista-de-veiculos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#id_cliente').select2();
        });
    </script>
{% endblock %}