{% extends 'base.html' %}
{% block content %}

<div class="p-2 col-10 text-center d-flex justify-content-center align-items-center">
    <div class="col-sm-8 col-xs-10">
        <div class="text-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        
            <h2 class="mt-5 text-muted">404 - Página não Encontrada</h2>
            </br>
            <p class="text-muted">A página que você procura não foi localizada ou encontra-se em manutenção. Por favor informe nossa equipe de desenvolvimento o link que você está tentando acessar, através do e-mail <a href="mailto:contato@seuemail.com.br">contato@seuemail.com.br</a></p>
            </br>   
        </div>
    </div>
</div>

{% endblock %}