{% extends 'base.html' %}
{% block content %}

    <div class="d-flex justify-content-center mt-3 p-sm-2 col-xs-12 col-sm-10">
        <div class="col-sm-8 col-xs-12">
            <h2 class="mb-2">Cadastrar Mensalidade</h2>

            <form method="POST">
                {{ form.csrf_token }}

                <div class="form-group">
                    <label for="id_cliente">Cliente</label>
                    {{ form.id_cliente(id="id_cliente", class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="valor">Valor da Mensalidade</label>
                    {{ form.valor(id="valor", class="form-control", placeholder="Digite o valor da mensalidade") }}
                </div>

                <div class="form-group">
                    <label for="data_vencimento">Data de Vencimento</label>
                    {{ form.data_vencimento(id="data_vencimento", class="form-control", placeholder="XX/XX/XXXX") }}
                </div>

                <div class="form-group">
                    <label for="data_pagamento">Data do Pagamento</label>
                    {{ form.data_pagamento(id="data_pagamento", class="form-control", placeholder="XX/XX/XXXX") }}
                </div>

                <div class="form-group">
                    <label for="situacao">Situação</label>
                    {{ form.situacao(id="situacao", class="form-control") }}
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-4" type="submit">Salvar</button>
                    <a class="btn btn-danger" href="/lista-de-mensalidades">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#id_cliente').select2();
        });
    </script>
{% endblock %}