{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center col-12 mt-4">
        <div class="col-12">
            <div class="text-center">
                <img class="mb-4" src="{{ url_for('static', filename='images/favicon.png') }}" alt="Garage Link" width="75" height="75">
                <h1 class="h3 mb-3 font-weight-light">Faça seu Login</h1>
            </div>

            <div class="card" style="max-width: 19.3rem; margin: 0 auto;">
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}

                        <div class="form-group">
                            <label class="font-weight-bold" for="login">Login</label>
                            {{ form.login(id="login", class="form-control") }}
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold" for="senha">Senha</label>
                            {{ form.senha(id="senha", class="form-control") }}
                        </div>

                        <button class="btn btn-danger btn-sm btn-block" type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}