{% extends 'base.html' %}
{% block content %}

    <div class="d-flex justify-content-center mt-3 p-sm-2 col-xs-12 col-sm-10">
        <div class="col-sm-8 col-xs-12">
            <h2 class="mb-2">Cadastrar Usuário</h2>

            <form method="POST">
                {{ form.csrf_token }}

                <div class="form-group">
                    <label for="id_funcionario">Funcionário <span style="color: red;">*</span></label>
                    {{ form.id_funcionario(id="id_funcionario", class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="login">Login <span style="color: red;">*</span></label>
                    {{ form.login(id="login", class="form-control", placeholder="Digite o login do usuário") }}
                </div>

                <div class="form-group">
                    <label for="nome">Nome do Usuário <span style="color: red;">*</span></label>
                    {{ form.nome(id="nome", class="form-control", placeholder="Digite o usuário") }}
                </div>

                <div class="form-group">
                    <label for="senha">Senha <span style="color: red;">*</span></label>
                    {{ form.senha(id="senha", class="form-control",placeholder="*****") }}
                </div>

                <div class="form-group">
                    <label for="email">Email <span style="color: red;">*</span></label>
                    {{ form.email(id="email", class="form-control",placeholder="Digite o email") }}
                </div>
                
                <div class="form-group">
                    <label for="tipo">Tipo <span style="color: red;">*</span></label>
                    {{ form.tipo(id="tipo", class="form-control") }}
                </div>

                <div class="form-group">
                    <label for="situacao">Situação <span style="color: red;">*</span></label>
                    {{ form.situacao(id="situacao", class="form-control") }}
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-4" type="submit">Salvar</button>
                    <a class="btn btn-danger" href="/lista-de-usuarios">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#id_funcionario').select2();
        });
    </script>
{% endblock %}