html {
    height: 100%;
}

body {
    height: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .bg-grey {
    background-color: rgb(194, 194, 194) !important;
 }

 .bg-selected {
    background-color: rgb(172, 186, 213) !important;
 }