<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Garage Link</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"></link>
    </head>

    <header>
        {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom">
            <a class="navbar-brand" href="/pagina-inicial"> 
                <img class="ml-3" src="{{ url_for('static', filename='images/favicon.png') }}" alt="Garage Link" width="35" height="35">
            </a>
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark font-weight-bold" href="/pagina-inicial">Início</a>
                </li>
            </ul>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                    <!-- Botões da direita -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-dark font-weight-bold">Minha conta</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <span class="m-4">{{ current_user.nome }}</span>
                            <span class="m-4">{{ current_user.email }}</span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-primary"data-toggle="modal" data-target="#changePassword">Alterar senha</a>
                            <a class="dropdown-item text-danger" href="/logout">Sair</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
        {% endif %}
    </header>

    <body class="bg-light h-100">
        <div class="container-fluid" style="height: 75%;">
            
            <div class="row h-100">
                {% if current_user.is_authenticated %}
                <!-- Menu lateral -->
                <div class="d-none d-sm-block col-2 pr-0 pl-0 w-100 bg-white">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            {% if current_user.tipo.lower() == 'gerente' %}
                                <!-- Inicio card Funcionarios -->
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Funcionários
                                        </button>
                                    </h5>
                                </div>
                                
                                {% if 'funcionario' in request.path %}
                                    {% set class = 'collapse show' %}
                                {% else %}
                                    {% set class = 'collapse' %}
                                {% endif %}

                                <div id="collapseOne" class="{{ class }}" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body p-0">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <button class="btn btn-link" onclick="window.location.href = '/lista-de-funcionarios'">Lista de Funcionários</button>
                                            </li>
                                            
                                            <li class="list-group-item">
                                                <button class="btn btn-link" onclick="window.location.href = '/cadastro-de-funcionario'">Cadastro de Funcionário</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Fim card Funcionarios -->

                                <!-- -------------------------------------------------------------------------- -->

                                <!-- Inicio card Usuários -->
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-2">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Usuários
                                        </button>
                                    </h5>
                                </div>

                                {% if 'usuario' in request.path %}
                                    {% set class = 'collapse show' %}
                                {% else %}
                                    {% set class = 'collapse' %}
                                {% endif %}

                                <div id="collapseTwo" class="{{ class }}" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body p-0">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <button class="btn btn-link" onclick="window.location.href = '/lista-de-usuarios'">Lista de Usuários</button>
                                            </li>

                                            <li class="list-group-item">
                                                <button class="btn btn-link" onclick="window.location.href = '/cadastro-de-usuario'">Cadastro de Usuário</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Fim card Usuários -->

                            {% endif %}

                            <!-- Inicio card Clientes -->
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-2">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Clientes
                                    </button>
                                </h5>
                            </div>

                            {% if 'cliente' in request.path %}
                                {% set class = 'collapse show' %}
                            {% else %}
                                {% set class = 'collapse' %}
                            {% endif %}

                            <div id="collapseThree" class="{{ class }}" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <button class="btn btn-link" onclick="window.location.href = '/lista-de-clientes'">Lista de Clientes</button>
                                        </li>

                                        <li class="list-group-item">
                                            <button class="btn btn-link" onclick="window.location.href = '/cadastro-de-cliente'">Cadastro de Cliente</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Fim card Clientes -->

                            <!-- Inicio card Veículos -->
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-2">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Veículos
                                    </button>
                                </h5>
                            </div>

                            {% if 'veiculo' in request.path %}
                                {% set class = 'collapse show' %}
                            {% else %}
                                {% set class = 'collapse' %}
                            {% endif %}

                            <div id="collapseFour" class="{{ class }}" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <button class="btn btn-link" onclick="window.location.href = '/lista-de-veiculos'">Lista de Veículos</button>
                                        </li>

                                        <li class="list-group-item">
                                            <button class="btn btn-link" onclick="window.location.href = '/cadastro-de-veiculo'">Cadastro de Veículo</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Fim card Veículos -->

                        </div>
                    </div>
                </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>

            <footer class="footer text-center mt-5 mb-3 text-muted">
                <p>&copy; 2020 Garage Link</p>
            </footer>

            <!--Modal alterar senha-->
            <div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
    
                        <div class="modal-header">
                            <h5 class="modal-title">Alterar Senha</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>x</span>
                            </button>
                        </div>
    
                        <div class="modal-body">
                            <form action="/alterar-senha?pagina_atual={{ request.path }}" method="POST">
                                
                                <div class="form-group">
                                    <label for="senha_atual">Senha Atual</label>
                                    <input type="password" id="senha_atual" name="senha_atual" class="form-control" placeholder="*****" required>
                                </div>

                                <div class="form-group">
                                    <label for="nova_senha">Nova Senha</label>
                                    <input type="password" id="nova_senha" name="nova_senha" class="form-control" placeholder="*****" required>
                                </div>

                                <div class="form-group">
                                    <label for="confirmar_senha">Confirmar Senha</label>
                                    <input type="password" id="confirmar_senha" name="confirmar_senha" class="form-control" placeholder="*****" required>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.5.2/js/bootstrap.js') }}"></script>
    </body>
</html>