{% extends 'base.html' %}
{% block content %}

<div class="p-2 col-10 text-center d-flex justify-content-center align-items-center">
    <main role="main" class=" col-8">
      <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h1 class="cover-heading mt-3">Bem-vindo {{ current_user.nome_usuario }}!</h1>
        <p class="lead">Gerencie o seu estacionamento de maneira inteligente e eficiente. No link abaixo você encontrará ajuda para as principais dúvidas sobre o sistema.</p>
        <p class="lead">
          <a href="https://gist.github.com/r-reis/9a400220520697906c6fd36dff98cf87" target="blank" class="btn btn-lg btn-secondary">Documentação</a>
        </p>
      </main>
</div>

{% endblock %}